<div class="row justify-content-center py-5 bg-what">
    <div class="col-12 mb-5">
        <img src="assets/what-is-chc.jpg" alt="What is chc" class="image">
    </div>
    <div class="col-12 mb-3">
        <h4>WHAT IS CHC?</h4>
    </div>
    <div class="col-9">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, libero quos? Ducimus, deserunt, similique ex odit repudiandae suscipit, ipsa facere excepturi soluta harum voluptatum corrupti fugit molestias dignissimos esse rem.</p>
    </div>
</div>

<!--
    TODO:
    Condicionar el ancho del texto p para pc
-->