
<div class="row justify-content-center p-4">
    <div class="col">
        <img src="https://c1.scryfall.com/file/scryfall-cards/normal/front/1/d/1de43c67-7dfe-4282-b433-4e394366d2e9.jpg?1572489634" alt="" width="200px">
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-10 col-md-8 col-lg-6">
        <h2>What is CHC?</h2>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-10 col-md-8 col-lg-6">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, libero quos? Ducimus, deserunt, similique ex odit repudiandae suscipit, ipsa facere excepturi soluta harum voluptatum corrupti fugit molestias dignissimos esse rem.</p>
    </div>
</div>

<!--
    Para celular rompe por col-6
    aplicar max width?
-->